/.project
/.classpath
/.settings
*sublime*
cobertura.ser
/target
plugin.xml
/grails-app/controllers
/grails-app/conf/UrlMappings.groovy
/grails-app/views
/web-app
grails-postgresql-extensions-*.zip
grails-postgresql-extensions-*.zip.sha1
/.idea
*.iml
*.swp
*.ids
*.ipr
*.iws
/out
/projectFilesBackup
*.log
.gradle/
build/
